@model Ch24ShoppingCartMVC.Models.ViewModels.CheckoutViewModel
@{
   ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>
@if (Model.Cart.Count == 0) {
<p>There is nothing to check out</p>
} else {
<table style="width:100%">
    <tr>
        <th>Ordered Item</th>
        <th>Quantitiy of Item</th>
        <th>Unit Price of Item</th>
        <th>Total Price of Item</th>
    </tr>

    @foreach (var item in Model.Cart) {
    <tr>
        <td style="text-align: center">@item.Name</td>
        <td style="text-align: center">@item.Quantity</td>
        <td style="text-align: center">@Math.Round(item.UnitPrice, 2)</td>
        <td style="text-align: center">$@Math.Round((item.UnitPrice * item.Quantity), 2)</td>
    </tr>
    }
</table>
<p style="text-align: right">Total Price Before Tax: $@Math.Round(Model.Total, 2)</p>
<p style="text-align: right">Total Price After Tax: $@Math.Round((Model.Total) * (1 + Model.TAX_RATE), 2)</p>
<br />
<button type="button" style="float: right">PayPal</button>
<button type="button" style="float: right">Master Card</button>
<button type="button" style="float: right"><img src="~/Content/Images/visa.png"></button>
}
